---
import Layout from "@layouts/Layout.astro";
import SideNav from "@components/SideNav.astro";
import martian from "@assets/img/martian.png";
import { app } from "@app";

const { title, ident, date } = Astro.props;
---

<Layout title={title}>
  <nav id="sidebar" class="side">
    <a href="/"><span class="home">Home</span><img src={martian.src} /></a>
    <SideNav items={app.menu} ident={ident} />
    <slot name="side" />
  </nav>
  <div class="body">
    <slot />
    <div class="update">Last update: {date}</div>
  </div>
</Layout>
